extends layout1

block content
	p(class = "centerImg")
		img(src = "/static/tiger.png")

	div(class = "jumbotron text-center")
		h1
			span(class = "fa fa-lock")
			| &nbsp; Super World Cup &nbsp;
			span(class = "fa fa-lock")

		a(href = "/login", class = "btn btn-default")
			span(class = "fa fa-user")
				| &nbsp; Login

		| &nbsp;

		a(href = "/signup", class = "btn btn-default")
			span(class = "fa fa-user")
				| &nbsp; Register



