extends layout1

block header
	include layout2

block content
	div(class = "col-sm-6 col-sm-offset-3")
		h1
			span(class = "fa fa-sign-in")
			| &nbsp; Update Info

		| (only name and email)
		br
		br

		form(action = "/update", method = "post")
			div(class = "form-group")
				label User
				input(type = "text", class = "form-control", name = "newuser")
			div(class = "form-group")
				label Name
				input(type = "text", class = "form-control", name = "name")
			div(class = "form-group")
				label Email
				input(type = "text", class = "form-control", name = "email")
			div(class = "form-group")
				label Password
				input(type = "password", class = "form-control", name = "password")

			button(type = "submit", class = "btn btn-warning btn-lg") Update

		hr



