doctype html

html
	head
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
		style body { padding-top: 80px; word-wrap: break-word }

		title Super World Cup

	body
		div(class = "container")
			div(class = "page-header text-center")
				h1
					span(class = "fa fa-anchor")
					| Profile

				a(href = "/logout" class = "btn btn-default btn-sm") Logout

			div(class = "row")
				div(class = "col-sm-6")
					div(class = "well")
						h3(class = "text-info")
							span(class = "fa fa-user")
							| &nbps; Local

						p
							strong id
							| : #{user._id}
							br
							strong user
							| : #{user.local.user}
							br
							strong password
							| : #{user.local.password}


